.tab-content(ng-if="roster.hasPlayers")
	div#roster-details
		div 
			span.title Player Count: 
			span {{roster.rosterList.length}}
		div 
			span.title Average Age: 
			span {{roster.avgAge}}
	table.table.table-hover
		thead
			tr
				th
					button(ng-click="roster.sortBy('name')") Player
					span(ng-class="!roster.reverse ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
						ng-show="roster.propertyName == 'name'")
				th 
					button(ng-click="roster.sortBy('jerseyNumber')") Jersey No.
					span(ng-class="!roster.reverse ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
						ng-show="roster.propertyName == 'jerseyNumber'")
				th 
					button(ng-click="roster.sortBy('position')") Position
					span(ng-class="!roster.reverse ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
						ng-show="roster.propertyName == 'position'")
				th 
					button(ng-click="roster.sortBy('dateOfBirth')") Age
					span(ng-class="!roster.reverse ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
						ng-show="roster.propertyName == 'dateOfBirth'")
				th 
					button(ng-click="roster.sortBy('nationality')") Nationality
					span(ng-class="!roster.reverse ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"
						ng-show="roster.propertyName == 'nationality'")
		tbody
			tr(ng-repeat="player in roster.rosterList | orderBy: roster.sortOrder")
				td {{player.name}}
				td {{player.jerseyNumber}}
				td {{player.position}}
				td {{roster.getAge(player.dateOfBirth)}}
				td {{player.nationality}}
.tab-content(ng-if="roster.hasPlayers")
	h4 {{roster.rosterMessage}}